body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.header {
    width: 100vw;
    height: 80px;
    padding: 20px;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.header .links {
    margin-left: auto;
}

.links a {
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E5E7EB;
    text-decoration: none;
    margin-right: 20px;
}

.logo {
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #F9FAF8;
    margin-left: 20px;
}

.website-intro {
    width: 100vw;
    padding: 20px;
    background-color:#1F2937;
    display: flex;
    flex-direction: row;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}

.info .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100vw;
    background-color: #E5E7EB;
}

.call-to-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.call-to-action .inner-action {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer {
    height: 72px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
}